Connor did this... you're welcome

Download data https://www.kaggle.com/c/nyc-taxi-trip-duration/data

In [1]:
#Add ya code here
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

train = pd.read_csv("train.csv", header=0)
test = pd.read_csv("test.csv", header=0)
#print(train.columns)
#print(test.columns)

In [2]:
train = train.dropna()
### remove the text 'id' in the id column
train['id'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
train.sort_values(by='id').reset_index(drop=True)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,0000001,2,2016-06-14 10:43:10,2016-06-14 11:01:35,1,-74.013924,40.713924,-73.971649,40.746407,N,1105
1,0000003,2,2016-03-16 10:39:55,2016-03-16 10:57:21,5,-73.990753,40.754761,-74.007118,40.741531,N,1046
2,0000005,2,2016-04-25 09:50:48,2016-04-25 09:56:56,1,-73.953110,40.798580,-73.968178,40.800270,N,368
3,0000008,1,2016-06-15 09:57:05,2016-06-15 10:02:08,1,-74.009628,40.724762,-74.015869,40.715485,N,303
4,0000009,1,2016-05-08 01:43:11,2016-05-08 01:52:18,1,-73.987991,40.759899,-73.959686,40.798504,N,547
5,0000011,2,2016-03-04 22:20:52,2016-03-04 22:25:08,1,-73.969185,40.765926,-73.981659,40.762234,N,256
6,0000013,1,2016-02-19 13:58:59,2016-02-19 14:06:06,1,-73.973442,40.763786,-73.978828,40.751858,N,427
7,0000015,1,2016-05-17 09:06:59,2016-05-17 09:39:18,1,-73.983696,40.780949,-73.954376,40.764175,N,1939
8,0000016,1,2016-03-29 16:36:36,2016-03-29 16:42:54,1,-73.960320,40.770321,-73.946220,40.772736,N,378
9,0000020,2,2016-03-13 03:48:46,2016-03-13 03:53:43,3,-74.004204,40.742226,-73.994507,40.751823,N,297
10,0000023,2,2016-05-28 04:34:47,2016-05-28 05:01:47,1,-73.942062,40.817780,-73.788918,40.647388,N,1620
11,0000032,1,2016-06-12 22:39:05,2016-06-12 22:42:50,1,-74.002556,40.730438,-74.002533,40.725006,N,225
12,0000033,2,2016-06-14 07:25:08,2016-06-14 07:30:34,1,-73.962379,40.755508,-73.972992,40.749310,N,326
13,0000034,2,2016-06-12 18:13:23,2016-06-12 18:22:35,1,-73.983978,40.763020,-73.985977,40.752289,N,552
14,0000037,2,2016-01-10 11:46:46,2016-01-10 11:54:32,2,-73.986992,40.733250,-74.005966,40.745392,N,466
15,0000041,1,2016-06-21 17:16:13,2016-06-21 17:22:16,1,-73.978653,40.772404,-73.981865,40.763863,N,363
16,0000042,2,2016-03-24 18:29:53,2016-03-24 18:39:17,5,-73.988846,40.742279,-73.990791,40.749008,N,564
17,0000043,2,2016-06-26 00:16:36,2016-06-26 00:37:10,1,-73.995598,40.726768,-73.948135,40.789642,N,1234
18,0000044,2,2016-05-05 23:07:33,2016-05-05 23:17:23,1,-73.954399,40.741600,-73.954399,40.741600,N,590
19,0000045,1,2016-03-05 21:58:16,2016-03-05 22:17:38,1,-73.991257,40.699097,-73.932961,40.686829,N,1162
20,0000048,1,2016-04-04 07:17:41,2016-04-04 07:24:07,1,-73.946312,40.773354,-73.968681,40.757549,N,386
21,0000051,2,2016-05-02 08:01:34,2016-05-02 08:14:55,1,-73.912727,40.746010,-73.865601,40.770802,N,801
22,0000057,1,2016-06-16 07:48:26,2016-06-16 08:12:13,1,-74.007477,40.717373,-73.955688,40.764503,N,1427
23,0000058,1,2016-06-26 16:29:57,2016-06-26 16:34:01,1,-73.960022,40.819855,-73.951881,40.814518,N,244
24,0000061,2,2016-01-28 12:31:46,2016-01-28 12:34:39,1,-73.974213,40.783829,-73.978638,40.777641,N,173
25,0000063,2,2016-04-24 10:38:59,2016-04-24 10:46:34,1,-73.955727,40.779652,-73.977913,40.773590,N,455
26,0000064,1,2016-05-15 12:54:04,2016-05-15 13:10:31,1,-73.969063,40.755081,-73.991035,40.727974,N,987
27,0000067,2,2016-04-19 23:16:25,2016-04-19 23:58:36,5,-73.983856,40.761749,-73.962830,40.676529,N,2531
28,0000070,2,2016-02-19 22:04:43,2016-02-19 22:25:28,1,-73.975342,40.751785,-73.993851,40.720284,N,1245
29,0000079,1,2016-01-15 15:44:27,2016-01-15 15:49:23,1,-73.978851,40.787575,-73.977234,40.788639,N,296
...,...,...,...,...,...,...,...,...,...,...,...
1458614,3999919,2,2016-03-14 20:52:30,2016-03-14 21:06:17,5,-74.001663,40.740932,-73.971916,40.786453,N,827
1458615,3999922,1,2016-05-08 01:35:20,2016-05-08 01:41:07,1,-74.010101,40.732510,-74.004707,40.752014,N,347
1458616,3999924,2,2016-01-06 09:38:39,2016-01-06 09:50:23,1,-73.982170,40.778500,-73.977417,40.763729,N,704
1458617,3999926,1,2016-06-20 21:02:50,2016-06-20 21:11:09,1,-74.006004,40.734982,-73.991615,40.759190,N,499
1458618,3999929,2,2016-02-14 08:53:34,2016-02-14 09:15:27,2,-73.976372,40.751339,-73.790070,40.646893,N,1313
1458619,3999935,2,2016-06-19 18:19:24,2016-06-19 18:24:46,1,-74.003349,40.713795,-74.007141,40.707092,N,322
1458620,3999938,2,2016-05-13 22:06:04,2016-05-13 22:18:54,2,-73.985771,40.722988,-73.944298,40.711575,N,770
1458621,3999939,2,2016-01-21 21:47:34,2016-01-21 21:53:22,1,-74.008247,40.714291,-73.994377,40.722130,N,348
1458622,3999944,2,2016-05-18 22:38:30,2016-05-18 22:46:06,2,-73.949684,40.780643,-73.963203,40.774258,N,456
1458623,3999950,2,2016-01-28 17:02:55,2016-01-28 17:09:38,1,-73.965881,40.762100,-73.955223,40.769138,N,403
1458624,3999951,1,2016-01-26 07:53:19,2016-01-26 08:10:24,1,-73.929314,40.767956,-73.943565,40.747284,N,1025
1458625,3999953,2,2016-03-23 09:16:25,2016-03-23 09:20:15,1,-73.993584,40.746563,-73.987625,40.741234,N,230
1458626,3999962,2,2016-05-05 12:11:15,2016-05-05 12:14:19,1,-73.959862,40.771111,-73.952629,40.780949,N,184
1458627,3999963,2,2016-03-18 19:02:26,2016-03-18 19:14:57,1,-73.973190,40.764111,-73.981377,40.780529,N,751
1458628,3999965,2,2016-02-20 13:33:00,2016-02-20 13:44:16,1,-73.979584,40.744148,-73.968910,40.759201,N,676
1458629,3999968,2,2016-03-26 13:49:06,2016-03-26 14:08:20,1,-73.944778,40.794510,-73.983559,40.741348,N,1154
1458630,3999969,1,2016-05-15 14:40:14,2016-05-15 14:51:22,1,-73.949844,40.772282,-73.974129,40.756592,N,668
1458631,3999973,2,2016-04-23 17:34:20,2016-04-23 17:37:51,1,-74.021637,40.875641,-74.021637,40.875641,N,211
1458632,3999974,1,2016-06-02 15:42:26,2016-06-02 15:47:42,1,-73.984360,40.743275,-73.992043,40.730942,N,316
1458633,3999979,1,2016-04-05 19:45:42,2016-04-05 19:50:11,1,-73.968071,40.787415,-73.965782,40.801441,N,269
1458634,3999980,1,2016-05-24 10:46:03,2016-05-24 10:58:33,1,-73.997467,40.736511,-73.991280,40.755222,N,750
1458635,3999982,2,2016-06-22 13:35:12,2016-06-22 13:39:48,1,-73.950218,40.795528,-73.952003,40.793098,N,276
1458636,3999983,2,2016-01-04 14:24:20,2016-01-04 14:34:26,5,-73.989014,40.748112,-73.966537,40.755402,N,606
1458637,3999985,1,2016-04-25 08:46:05,2016-04-25 08:54:01,1,-73.950851,40.826180,-73.969780,40.799995,N,476
1458638,3999986,1,2016-03-17 06:44:15,2016-03-17 06:53:38,1,-73.950645,40.771103,-73.974144,40.759586,N,563
1458639,3999988,2,2016-05-23 17:37:28,2016-05-23 18:28:33,1,-73.999329,40.724831,-74.177017,40.694901,N,3065
1458640,3999992,2,2016-05-20 14:05:31,2016-05-20 14:07:49,1,-73.971344,40.787361,-73.978027,40.778385,N,138
1458641,3999998,2,2016-01-22 15:25:13,2016-01-22 15:49:00,1,-73.982300,40.768372,-73.952492,40.817390,N,1427
1458642,3999999,2,2016-03-15 07:14:21,2016-03-15 07:26:22,1,-74.007614,40.732471,-73.985291,40.760105,N,721
1458643,4000000,2,2016-03-12 22:11:02,2016-03-12 22:27:51,1,-73.977371,40.764622,-73.986450,40.756882,N,1009

In [3]:
### visualisation

In [ ]:
x1=train['passenger_count'].values
y1=train['id'].values
plt.scatter(x1,y1,alpha=0.6)
plt.show()

In [ ]:
x2=train['pickup_longitude'].values
y2=train['id'].values
plt.scatter(x2,y2,alpha=0.6)
plt.show()

In [ ]:
x3=train['dropoff_longitude']. values
y3=train['id'].values
plt.scatter(x3,y3,alpha=0.6)
plt.show()

In [ ]:
x4=train['dropoff_latitude'].values
y4=train['id'].values
plt.scatter(x4,y4,alpha=0.6)
plt.show()

In [ ]:
x5=train['trip_duration'].values
y5=train['id'].values
plt.scatter(x5,y5,alpha=0.6)
plt.show()

In [ ]:
# train split to 75/25

split = len(train) * 0.75

train_train = train.loc[:split,:]
train_test = train.loc[split:,:]

print('Taining total set size:',train.shape[0])
print('Training set size:', train_train.shape[0])
print('Test set size:', train_test.shape[0])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(train, test_size=0.25)

print('Taining total set size:',train.shape[0])
print('Training set size:', X_train.shape[0])
print('Test set size:', X_test.shape[0])

In [ ]:
### visualisation and outlier detection & removal